/*floatMenu*/
.floatMenu{
    width:40px;
    right:5%;
    bottom:20px;
    position:fixed;
    z-index:9999;
    -webkit-transform: translateZ(0); /* iOS에서 하드웨어 가속 활성화 */
    transform: translateZ(0); /* 하드웨어 가속 활성화 */
}
.floatMenu{width:40px; right:5%; bottom:20px; position:fixed; z-index:9999;}
.floatMenu div{text-align:center; width:40px; height:40px; margin-top:1rem; border-radius:20px; display:table;}
.floatMenu div:hover{ transition:0.2s;}
.floatMenu div a{display:table-cell; vertical-align:middle; text-align:center;}
.floatMenu div img{display:inline-block; cursor:pointer;}
.floatMenu .goForm img{width:25px;}
.floatMenu .kakao img{width:25px;}
.floatMenu .blog img{width:22px;width: auto;}
.floatMenu .insta img{width:22px;width: auto;}
.floatMenu .call img{width:22px;width: auto;}
.floatMenu .top img{width:22px;width: auto;}

@media screen and (min-width:1200px){
.floatMenu{width:60px; right:20px;}
.floatMenu div{width:60px; height:60px; border-radius:30px;}
.floatMenu .goForm img{width:auto;}
.floatMenu .kakao img{width:auto;}
.floatMenu .blog img{width:auto;}
.floatMenu .insta img{width:auto;}
.floatMenu .call img{width:auto;}
.floatMenu .top img{width:auto;}
}
