/*footer*/
.footer {}
.footer .inner {margin:0 auto; padding: 4rem 0rem;}
.footer .logo {margin-left:2.1rem; width:auto; height:auto;color: #000000;font-size: 2.8rem;}
.footer .logo a{color: #000000;font-family: 'NanumSquare', sans-serif ;font-weight: 800; }
.footer .info {display:inline-block; padding:0rem 2rem; margin-top:3rem;}
.footer p {color:#000000; line-height:1.8em; font-size:1.4rem; font-weight: 400;font-family: 'NanumSquare', sans-serif ;font-weight: 500;}
.footer p span{display:none;}
   
@media screen and (min-width:1200px) {
.footer .inner {padding: 5rem 0rem;}
.footer .logo {display:inline-block; margin-right:17rem; margin-left:0; width:auto;}
.footer .logo img{margin-top: 2rem;}
.footer .info {width:70%; padding:0rem 2.5rem; margin-top: 0rem;}
.footer p {font-size: 1.6rem; line-height: 1.4em; letter-spacing: normal;}
.footer p span{display:inline-block;}
}