#sliderType03Bg{padding: 5rem 0rem 0rem 0rem;text-align: center;background-color: #f7f7f7;}
    
#sliderType03Bg article .step_title{margin: 0 auto;font-size: 2rem; padding: 0rem 1rem;border-left: 3px solid #000000;border-right: 3px solid #000000;width:80px;color: #000000;text-align: center;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}  
#sliderType03Bg h1{font-size: 3.4rem;font-weight: 800;color: #000000;margin-top: 2rem;font-family: 'NanumSquare', sans-serif ;}  
#sliderType03Bg p{font-size: 1.6rem;line-height: 1.2em;;margin-top: 1rem;color: #000000;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}      
.sub_title{width:200px; height: 20px;margin: 0 auto;background-color:#73a96f;border-radius: 50px;padding: 2rem 0rem 0rem 0rem;margin-bottom: 3rem;}    
.sub_title>h2{color: white;font-size: 2rem;margin-top: -1.5rem}  
    
    
    
    
#sliderType03Bg .box{padding: 4rem 0rem;}  
#sliderType03Bg .box:nth-of-type(odd){background-color: white;}
#sliderType03Bg .slider-main2{width:70%;margin: 0 auto;height:auto;}
#sliderType03Bg #slide4{height: auto;}

    
#sliderType03Bg .slick-prev{background-color: #000000;}    
#sliderType03Bg .slick-next{background-color: #000000;}    


#sliderType03Bg #slide1 p,
#sliderType03Bg #slide5 p{font-size: 1.4rem;}    
    








@media screen and (min-width:412px){

}

@media screen and (min-width:1200px){
#sliderType03Bg{padding: 16rem 0rem 0rem 0rem;text-align: center;background-color: #f7f7f7;}
    
#sliderType03Bg article .step_title{margin: 0 auto;font-size: 4rem; padding: 0rem 1rem;border-left: 3px solid #000000;border-right: 3px solid #000000;width:150px;color: #000000;text-align: center;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}  
#sliderType03Bg h1{font-size: 6rem;font-weight: 800;color: #000000;margin-top: 4rem;font-family: 'NanumSquare', sans-serif ;}  
#sliderType03Bg p{font-size: 2.4rem;line-height: 1.2em;;margin-top: 3rem;color: #000000;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}      
.sub_title{width: 307px; height: 70px;margin: 0 auto;background-color:#73a96f;border-radius: 50px;padding: 2rem 0rem 0rem 0rem;margin-bottom: 8rem;}    
.sub_title>h2{color: white;font-size: 3rem;margin-top: 0rem;}  
   
    

    
    
#sliderType03Bg .box{padding: 16rem 0rem 16rem 0rem;overflow: hidden;}  
#sliderType03Bg .box:nth-of-type(odd){background-color: white;}
#sliderType03Bg .slider-main2{width: 1200px;margin: 0 auto;}
#sliderType03Bg #slide3 img{margin: 0 auto;}      
#sliderType03Bg #slide2 img{margin: 0 auto;}
#sliderType03Bg #slide4 img{margin: 0 auto;}


    

    
}