
#sliderType04Bg .text{opacity: 0;transition: 1s;}
#sliderType04Bg.on .text{opacity: 1;}
    
#sliderType04Bg{padding: 5rem;margin: 0rem;background-color: #eff7e2;}    
#sliderType04{text-align: center;}
#sliderType04 h1{font-size: 3.4rem;font-weight: 800;font-family: 'NanumSquare', sans-serif ;}  
#sliderType04 .text>p{font-size: 1.6rem;line-height: 1.2em;margin-top: 1rem;margin-bottom: 0rem;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}  
#sliderType04 .step_title{margin: 0 auto;font-size: 2rem; padding: 0rem 1rem;border-left: 3px solid;border-right: 3px solid ;width:80px;margin-bottom: 2rem;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}    
#sliderType04 .slider-main4{margin-top: 4rem;width: 100%;}
#sliderType04 .slider-main4 .slide img{margin: 0 auto;}






@media screen and (min-width:375px) {
  
    
    
}





@media screen and (min-width:412px) {


}





@media screen and (min-width:1200px) {
    
#sliderType04Bg .text{opacity: 0;transition: 1s;}
#sliderType04Bg.on .text{opacity: 1;}
    
#sliderType04Bg{padding: 16rem;margin: 0rem;background-color: #eff7e2;}    
#sliderType04{text-align: center;}
#sliderType04 h1{font-size: 6rem;font-weight: 800;font-family: 'NanumSquare', sans-serif ;}  
#sliderType04 .text>p{font-size: 2.4rem;line-height: 1.2em;margin-top: 3rem;margin-bottom: 0rem;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}  
#sliderType04 .step_title{margin: 0 auto;font-size: 4rem; padding: 0rem 1rem;border-left: 3px solid;border-right: 3px solid ;width:150px;margin-bottom: 4rem;font-family: 'NanumSquare', sans-serif ;font-weight: 600;}    
#sliderType04 .slider-main4{margin-top: 8rem;}
    
    .slider-main4 .slick-prev{display: none;background-color: transparent;color: transparent;}    
    .slider-main4 .slick-next{display: none;background-color: transparent;color: transparent;}    
    
}