@charset 'UTF-8';
/* Arrows */
#sliderType02 .slick-prev,
#sliderType02 .slick-next
{
    font-size: 0;
    line-height: 0;
    
    position: absolute;
    bottom: -60px;

    display: block;

    width: 30px;
    height: 30px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
 background-color: transparent;
     background-color: white;
    z-index: 100000;
}
#sliderType02 .slick-prev:hover,
#sliderType02 .slick-prev:focus,
#sliderType02 .slick-next:hover,
#sliderType02 .slick-next:focus
{
    color: transparent;
    outline: none;

}
#sliderType02 .slick-prev
{
    left:60rem;
    z-index:9;
}
[dir='rtl'] #sliderType02 .slick-prev
{
    right: 70rem;
    left: auto;
}
#sliderType02 .slick-prev:before
{

}
[dir='rtl'] #sliderType02 .slick-prev:before
{
  
}

#sliderType02 .slick-next
{
    right:10rem;
    z-index:9;
   
}
[dir='rtl'] #sliderType02 .slick-next
{
    right: auto;
    left: 39%;
}
#sliderType02 .slick-next:before
{

}
[dir='rtl'] #sliderType02 .slick-next:before
{
  
}

/*main*/
#sliderType02 .slick-prev,
#sliderType02 .slick-next
{
    font-size: 0;
    line-height: 0;
    
    position: absolute;
    top: 65%;

    display: block;

    width:100px;
    height: 50px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
border-radius: 10px;
    cursor: pointer;
    opacity:0.5;
        color: transparent;
    border: none;
    outline: none;
 background-color: transparent;

z-index: 1000000;
    
}
#sliderType02 .slick-prev:hover,
#sliderType02 .slick-prev:focus,
#sliderType02 .slick-next:hover,
#sliderType02 .slick-next:focus
{
    opacity:1;

    outline: none;
  
}

#sliderType02 .slick-prev
{
    top: 37rem;
    left: 5rem;
    z-index:1000000;
}
[dir='rtl'] #sliderType02 .slick-prev
{
    right: 0;
    left: auto;
}
#sliderType02 .slick-prev:before
{
   
}
[dir='rtl'] #sliderType02 .slick-prev:before
{

}

#sliderType02 .slick-next
{
    right: 5rem;
    top: 37rem;
    z-index:100000;
}
[dir='rtl'] #sliderType02 .slick-next
{
    right: auto;
    left: 0
}
#sliderType02 .slick-next:before
{

}
[dir='rtl'] #sliderType02 .slick-next:before
{
  
}
@media screen and (min-width:375px){
    
  #sliderType02 .slick-prev
{
    left: 8rem;
    top: 43rem;
    z-index:1000000;
}
#sliderType02 .slick-next
{
    right: 8rem;
    top: 43rem;
    z-index:100000;
}  
    
    
}

@media screen and (min-width:412px){
    
    
      #sliderType02 .slick-prev
{
    left: 10rem;
    top: 45rem;
    z-index:1000000;
}
#sliderType02 .slick-next
{
    right: 10rem;
    top: 45rem;
    z-index:100000;
    
}  
    
    

}

@media screen and (min-width:1200px){
/* Arrows */
#sliderType02 .slick-prev,
#sliderType02 .slick-next
{
    font-size: 0;
    line-height: 0;
    
    position: absolute;
    top: 50%;

    display: block;

    width: 38px;
    height: 38px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
z-index: 1000000;
    color: transparent;
    border: none;
    outline: none;
 background-color: transparent;
    
}
#sliderType02 .slick-prev:hover,
#sliderType02 .slick-prev:focus,
#sliderType02 .slick-next:hover,
#sliderType02 .slick-next:focus
{

    outline: none;

}
#sliderType02 .slick-prev
{
    left: -48px;
    z-index: 1000000;
    
}
[dir='rtl'] #sliderType02 .slick-prev
{
    right: -48px;
    left: auto;
}
#sliderType02 .slick-prev:before
{

}
[dir='rtl'] #sliderType02 .slick-prev:before
{
   
}

#sliderType02 .slick-next
{
    right: -48px;
  z-index: 1000000;
}
[dir='rtl'] #sliderType02 .slick-next
{
    right: auto;
    left: -48px
}
#sliderType02 .slick-next:before
{
   
}
[dir='rtl'] #sliderType02 .slick-next:before
{
  
}

/*main*/
#sliderType02 .slick-prev,
#sliderType02 .slick-next
{
    font-size: 0;
    line-height: 0;
    
    position: absolute;
    top: 68%;

    display: block;

    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
   background-color: white;
    height: 70px;
/*
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
*/
cursor:pointer;
    color: transparent;
    border: none;
    outline: none;
 background-color: transparent;
 

}
#sliderType02 .slick-prev:hover,
#sliderType02 .slick-prev:focus,
#sliderType02 .slick-next:hover,
#sliderType02 .slick-next:focus
{
 

   
}

#sliderType02 .slick-prev
{
    left: 73rem;
 z-index: 1000000;
}
[dir='rtl'] #sliderType02 .slick-prev
{
    right: 0;
    left: auto;
}
#sliderType02 .slick-prev:before
{
 
}
[dir='rtl'] #sliderType02 .slick-prev:before
{
    
}

#sliderType02 .slick-next
{
    right: 73rem;
 
    z-index: 1000000;
}
[dir='rtl'] #sliderType02 .slick-next
{
    right: auto;
    left: 0
}
#sliderType02 .slick-next:before
{

}
[dir='rtl'] #sliderType02 .slick-next:before
{
   
}

}
