@charset 'UTF-8';
/*main*/
#sliderType04 .slick-prev,
#sliderType04 .slick-next
{
    font-size: 0;
    line-height: 0;
    
    position: absolute;
    top: 50%;

    display: block;

    width: 45px;
    height: 75px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    opacity:0.5;
    
background-color: transparent;
    border: none;
    outline: none;

}
#sliderType04 .slick-prev:hover,
#sliderType04 .slick-prev:focus,
#sliderType04 .slick-next:hover,
#sliderType04 .slick-next:focus
{
    opacity:1;
  
    outline: none;

}

#sliderType04 .slick-prev
{
    left: -5rem;
    z-index:9;
}
[dir='rtl'] #sliderType04 .slick-prev
{
    right: 10px;
    left: auto;
}
#sliderType04 .slick-prev:before
{
    display:block;
    content: url( "../../img/prev-mv.webp" );
}
[dir='rtl'] #sliderType04 .slick-prev:before
{
    display:block;
    content: url( "../../img/prev-mv.webp" );
}

#sliderType04 .slick-next
{
    right:-5rem;
    z-index:9;
    
}
[dir='rtl'] #sliderType04 .slick-next
{
    right: auto;
    left: 0
}
#sliderType04 .slick-next:before
{
    display:block;
    content: url("../../img/next-mv.webp" );
}
[dir='rtl'] #sliderType04 .slick-next:before
{
    display:block;
    content: url("../../img/next-mv.webp");
}



@media screen and (min-width:1200px){
/*main*/
#sliderType04 .slick-prev,
#sliderType04 .slick-next
{
    font-size: 0;
    line-height: 0;
    
    position: absolute;
    top: 50%;

    display: block;

    width: 45px;
    height: 75px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
background-color: transparent;

    border: none;
    outline: none;

}
#sliderType04 .slick-prev:hover,
#sliderType04 .slick-prev:focus,
#sliderType04 .slick-next:hover,
#sliderType04 .slick-next:focus
{
  
    outline: none;

}

#sliderType04 .slick-prev
{
    left: -6rem;
    z-index:9;
}
[dir='rtl'] #sliderType04 .slick-prev
{
    right: 0px;
    left: auto;
}
#sliderType04 .slick-prev:before
{
    display:block;
    content: url(  "../../img/arrow_prev.webp" );
}
[dir='rtl'] #sliderType04 .slick-prev:before
{
    display:block;
    content: url( "../../img/arrow_prev.webp" );
}

#sliderType04 .slick-next
{
    right: -5rem;
    z-index:999999;
}
[dir='rtl'] #sliderType04 .slick-next
{
    right: auto;
    left: 0
}
#sliderType04 .slick-next:before
{
    display:block;
    content: url( "../../img/arrow_next.webp");
}
[dir='rtl'] #sliderType04 .slick-next:before
{
    display:block;
    content: url( "../../img/arrow_next.webp" );
}



.
}