@charset "UTF-8";

*, *:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.all_wrap{overflow: hidden;position: relative;}

.jarallax {position: relative;z-index: 0;height: 100%;}
.jarallax > .jarallax-img {position: absolute;  object-fit: cover;  top: 0;  left: 0;  width: 100%;  height: 100%;  z-index: -1;}
.main_admin{position: fixed; z-index: 11; top:95px; right: 10px;}
.main_admin a{font-size: 14px; background: #fff; border-radius: 5px; margin-bottom: 5px; width: 80px; height: 30px; display: inline-block; text-align: center; line-height: 30px; font-weight: 500;}
/* 공통 */
.width{width: 92% !important; max-width: 1400px; margin: 0 auto; position: relative;}
.common{padding: 90px 0px;}
:root{
	--color: #e18282;

	--fs40: 4.0rem;
	--fs32: 3.2rem;
	--fs28: 2.8rem;
	--fs24: 2.4rem;
	--fs22: 2.2rem;
	--fs20: 2.0rem;
	--fs18: 1.8rem;
	--fs14: 1.4rem;
}
.board_title{padding: 150px 0 0px 0px; ;}
.board_title h2{font-size: var(--fs32); font-weight: 700; width: 92%; max-width: 1400px; margin: 0 auto; padding-bottom: 40px; border-bottom: 1px solid #eee;}
.board_title p{margin-top: 10px; font-size: var(--fs20);}

@media all and (max-width: 1024px) {
	.common{padding: 60px 0px;}
}

#header{width: 100%;background: #000000;position: fixed;top: 0;z-index: 999; transition: 0.3s all; box-shadow: 0px 0px 5px rgba(0,0,0,0.1)}
#header .head_login_wrap{display: flex; align-items: center;}
#header .head_login{display: flex;justify-content: flex-end;padding: 7px 10px; border: 1px solid #333; border-radius: 30px; margin-right: 25px;}
#header .head_login li{margin:0px 5px;}
#header .head_login a{font-size: 1.2rem; color: #333; white-space: nowrap; font-weight: 400;}
#header .head_login i{font-size: 20px;}
#header .head_menu .logo .main{display: none;}
#header.scroll{top:-36px;}

#header .head_menu{position: relative;display: flex;justify-content: space-between;align-items: center;width: 100%; height: 100px;}
#header .head_menu .main_menu { width: 70%; display: flex; justify-content: flex-end;; align-items: center; text-align: center; height: 100%; z-index: 9;}
#header .head_menu .main_menu .dept1 { position: relative; padding: 15px 0px; margin-left: 30px;}
#header .head_menu .main_menu .dept1 > a { color: #fff; font-size: 1.8rem; font-weight: 500; height: 100px; line-height: 100px; display: inline-block;}
#header .head_menu .main_menu .dept1 > a.active { color: #ffc000; font-weight: bold; }
#header .head_menu .main_menu .dept1 > a.menuon {font-weight: bold; border-bottom: 1px solid #000;}

#header .head_menu .sub_menu { position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 100%; padding-top: 20px; display: none; padding-bottom: 30px;}
#header .head_menu .main_menu .dept2 { padding: 12px 0px; }
#header .head_menu .main_menu .dept2 a { font-size: 1.5rem; display: block;}
#header .main_menu .dept2>a:hover,
#header .main_menu .dept2>a:active,
#header .main_menu .dept2>a.menuon,
#header .main_menu .dept2>a:focus { color: #ffc000;font-weight: bold;}
#header .menu_bg {background: #fff;width: 100%;height: 0;left: 0;z-index: 1;position: absolute; border-top: 1px solid #eee;}


/* 모바일 */
.mobile_head {width: 100%; height: 60px; display: flex; justify-content: space-between; align-items: center; padding: 0px 15px; display: none; position: fixed; background:#000000; z-index: 99; box-shadow: 0px 1px 3px rgba(0,0,0,0.3);}
.mobile_head .mobile_logo { width: 120px; }
.mobile_head .mobile_logo img { width: 100%; }
#mobile_menu {  display: none; position: fixed; top: 0; right: -75%; width: 75%; background: #fff; z-index: 1000; height: 100vh; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;}
#mobile_menu::-webkit-scrollbar{display: none;}
#mobile_menu .mob_logo { width: 100%; padding: 0px 20px; height: 70px; background:#797979;display: flex; justify-content: space-between; align-items: center;}
#mobile_menu .mob_logo a { width: 100px; }
#mobile_menu .mob_logo a img { width: 100%; }
#mobile_menu .mobile_close { font-size: 30px; cursor: pointer; color: #333;}
#mobile_menu .mob_menu .top_menu {display: flex;justify-content: space-between; align-items: center; padding: 20px 20px;font-size: 18px; border-bottom: 1px solid #eeee; font-weight: 600;}
.mobile_open{font-size: 24px; color: #fff;}
#mobile_menu .mob_menu .topmenu.on { color: #fff; }
#mobile_menu .mob_menu .sub_menu { padding: 15px 15px;  background: #e6e3f5; visibility: visible; }
#mobile_menu .mob_menu .sub_menu a {display: block; color: #333 ;font-size: 17px; padding: 10px; font-weight: 400;}
#mobile_menu .mob_menu_btn{display: flex; padding: 10px 0px; margin: 0px 20px; justify-content: space-between;}
#mobile_menu .mob_menu_btn li{width: 49%;}
#mobile_menu .mob_menu_btn a{font-size: 17px;  background: #ddd;display: flex; height: 50px; justify-content: center; align-items: center;}
#mobile_menu .mob_menu_btn a i{font-size: 16px; margin-right: 5px;}
.mob_bg {  display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.5); z-index: 99;}

@media screen and ( max-width: 1400px ){
#pcmenu .topmenu { font-size: 16px; }
#pcmenu .submenu a { font-size: 14px; }
}
@media screen and ( max-width: 1024px ){
#header { display: none; }
.mobile_head{display: flex;}
}

/* 메인비주얼 */
.Hfull{height:calc(90vh - 100px); margin-top: 100px;}
.Hfull .swiper_visual{height: 100%;}
.Hfull .slide1{background: url('../img/slide1.webp')no-repeat; background-size: cover; background-position: center;}
.Hfull .slide2{background: url('../img/slide2.webp')no-repeat; background-size: cover; background-position: center;}
/* .Hfull .slide3{background: url('../img/slide3.png')no-repeat; background-size: cover; background-position: center;} */

.Gfull .swiper_visual{height: 100%;}
/* 기본 스타일 */
.Gfull {
	margin-top: 90px;
}
  
/* 데스크탑 화면 (큰 화면) */
@media screen and (min-width: 1020px) {
.Gfull {
	margin-top: 130px;
}
}

.pc{display: block !important;}
.mob{display: none !important;}

@media all and (max-width: 900px){
	.pc{display: none !important;}
	.mob{display: block !important;}
}

/* board warp */
.board_warp .latest_wrap{display: flex; justify-content: space-between;}
.latest_wrap .latest_top_wr{width: 48.5%;}
.latest_top_wr h2{font-size: var(--fs24); margin-bottom: 40px; font-weight: bold;}
.latest_top_wr h2 i{margin-right: 7px; font-weight: 300;}
.board_warp .main_btn{margin-top: 100px; display: flex; justify-content: space-between;}
.board_warp .main_btn a{width: 24%; display: flex; flex-direction: column; align-items: center; box-shadow: 0px 1px 3px rgba(0,0,0,0.2); padding: 40px 0px;}
.board_warp .main_btn a i{font-size: 5.0rem; width: 100px; height: 100px; background: #eee; color: #333; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;}
.board_warp .main_btn a span{font-size: var(--fs20);}
.board_warp .main_btn a:hover{-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
	@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@media all and (max-width: 1300px){
	.pic_lt .lt_wrap .lt_text_top .lt_info{min-width: 80px; min-height: 80px;}
	.pic_lt .lt_wrap{padding: 12px;}
}
@media all and (max-width: 950px){
	.board_warp .latest_wrap{flex-direction: column;}
	.latest_wrap .latest_top_wr{width: 100%;}
	.latest_wrap .latest_top_wr:first-child{margin-bottom: 60px;}
}
@media all and (max-width: 768px){
	.board_warp .main_btn{flex-wrap: wrap; margin-top: 60px; gap:15px 0px;}
	.board_warp .main_btn a{width: 49%; padding: 25px 0px;}
}

/* 하단 */
#ft{background: #333;padding: 40px 0px; width: 100%;}


/* sub_visual */
.sub_visual{width: 100%;height: 400px;background-repeat: no-repeat !important;background-size: cover !important;background-position: center top !important; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.sub_visual .sub_top_text{text-align: center; color: #fff; padding-top: 100px;}
.sub_visual .sub_top_text h3{font-size: var(--fs40); position: relative;}
.sub_visual .sub_top_text p{font-size: var(--fs22);font-weight: 600;}
@media all and (max-width: 1024px) {
	.sub_visual{height: 250px;}
	.sub_visual .sub_top_text{padding-top: 70px;}
}

/* lnb */
.lnb_wrap{position: relative;}
.lnb{background: #fff; border-bottom: 1px solid #ddd;}
.lnb .lnb_map{height: 60px; display: flex; align-items: center; border-left: 1px solid #f1f1f1;}
.lnb .lnb_map .home{width: 60px; height: 100%;background: #fff;display: flex;justify-content: center;align-items: center;}
.lnb .lnb_map .home a{color: #333;}
.lnb .lnb_map .home i{font-size: 20px;}
.lnb .lnb_map > li{width: 250px; height: 100%;border-right: 1px solid #f1f1f1; padding: 0px 15px;position: relative;}
.lnb .lnb_map li.dep a{width: 100%; height: 100%;display: flex;align-items: center; font-size: 14px;}
.lnb .lnb_map li.dep a span{width: 100%;display: flex; justify-content: space-between;align-items: center; font-size: 1.7rem; color: #333;}
.lnb .lnb_map li.dep a span i{font-size: 16px;}
.lnb .lnb_map li.dep ul{display: none;position: absolute;left: 0; top: 61px;width: 100%;z-index: 10;}
.lnb .lnb_map li.dep ul li{width: 100%; background: #f9f9f9; border-bottom: 1px solid #fff;}
.lnb .lnb_map li.dep ul li a{padding: 15px 15px;font-size: 1.6rem;}
.lnb .lnb_map li.dep ul li a:hover{background: #2DAAE1; color: #fff;transition: 0.3s all;}
.lnb .lnb_map li.dep ul li a.on{background: #f1f1f1;}

@media screen and (max-width:1400px) {
  .lnb .lnb_map{width: 100% !important;}
}
@media screen and (max-width:900px){
  .lnb .lnb_map{height: 55px;}
  .lnb .lnb_map .home i{font-size: 16px;}
  .lnb .lnb_map li.dep ul{top: 56px;}
}
@media screen and (max-width:600px){
  .lnb .lnb_map{height: 50px;}
  .lnb .lnb_map .home{width: 12%;}
  .lnb .lnb_map li{width: 44%;}
  .lnb .lnb_map li:last-child{width: 44%;}
  .lnb .lnb_map li.dep ul{top: 51px;}
  .lnb .lnb_map li.dep a{font-size: 12.5px;}
  .lnb .lnb_map li.dep ul li a{font-size: 12.5px;}
}


/* 페이지 네비, 게시판 등 */
/* .bo_cate_link{border-radius: 30px;}
.bo_v_topcon .bo_v_cate{border-radius: 30px;} */
#bo_gall .is_notice{border-radius: 30px;}
.quick_banner{z-index: 99; right: 20px; bottom: 20px; position: fixed;animation: quickBounce .8s infinite alternate;}
/* @keyframes quickBounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

@keyframes quickBounce2 {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
} */

#top_btn{width: 45px; height: 45px;border: none; background: #fff; border-radius: 50%;box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2); transition: 0.3s all;}
#top_btn span{font-size: 14px; font-weight: bold;}
#top_btn:hover{background: #eee; color: #000;}

.floating_menu { width: 45px; height: 45px; border-radius: 50%; background: ; position: fixed; bottom: 52px; z-index: 99; }
.floating_menu input { position: absolute; width: 45px; height: 45px; margin: 0; opacity: 0; cursor: pointer; }
.floating_menu input:checked ~ .floating_plus { transform: rotate(135deg); }
.floating_menu input:checked ~ .floating_nav li:nth-child(1) { transform: translatey(-52px); opacity: 1; }
.floating_menu input:checked ~ .floating_nav li:nth-child(2) { transform: translatey(-104px); opacity: 1; }
.floating_menu input:checked ~ .floating_nav li:nth-child(3) { transform: translatey(-156px); opacity: 0; }
.floating_menu input:checked ~ .floating_nav li:nth-child(4) { transform: translatey(-208px); opacity: 0; }
.floating_menu input ~ .floating_plus { transform: rotate(0); }
.floating_menu > .floating_plus { display: flex; justify-content: center; align-items: center; width: 45px; height: 45px; font-size: 20px; color: #FFFFFF; background:#2DAAE1; border-radius: 50%; transform: rotate(0); transition: all 0.5s ease; pointer-events: none; box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2); }
.floating_menu > .floating_plus i { line-height: normal !important; }
.floating_menu > .floating_nav { display: flex; justify-content: center; align-items: center; padding: 0; margin: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: -1; }
.floating_nav li { display: flex; justify-content: center; align-items: center; width: 45px; height: 45px; border-radius: 50%; background: #fff; cursor: pointer; position: absolute; transition: all 0.5s ease; box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2); opacity: 0; }
.floating_menu > .floating_nav li a i { font-size: 20px; color: #222; }
.floating_menu > .floating_nav li a i.xi-kakaotalk { font-size: 28px; margin-top: 3px; }

.pg_wrap{margin-top: 60px; display: flex; justify-content: center; width: 100%;}
.pg_wrap .pg{display: flex;}
.pg_page{width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; margin: 0 2px; background-color: none; border: 1px solid #ccc;}
.pg_current{border: 1px solid #8e8e8e; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; margin: 0 2px; background: none;}

@media all and (max-width: 1400px) {
	/* html{font-size: 55% !important;} */
	:root{
		--fs40: 3.4rem;
		--fs32: 2.8rem;
		--fs28: 2.4rem;
	}
}
/* 갤러리 */
@media all and (max-width: 1024px) {
	.gall_row .col-gn-4{width: 33.33333%;}
	.gall_row .col-gn-5{width: 25%;}
}

@media all and (max-width: 850px) {
	.floating_menu input:checked ~ .floating_nav li:nth-child(3) { transform: translatey(-156px); opacity: 1; }
.floating_menu input:checked ~ .floating_nav li:nth-child(4) { transform: translatey(-208px); opacity: 1; }
	.gall_row .col-gn-4, .gall_row .col-gn-3, .gall_row .col-gn-5{width: 50%;}
	#bo_cate li{width: 25%; margin-bottom: 10px;}
	#bo_cate ul{flex-wrap: wrap;}
}

@media all and (max-width: 600px) {
	.gall_row .col-gn-4, .gall_row .col-gn-3, .gall_row .col-gn-5, .gall_row .col-gn-2{width: 100%;}
}

/* 리스트 */
@media all and (max-width: 850px) {
	.prdt_list .prdt_top th.psize, .prdt_list .prdt_table .psize{display: none;}
	.prdt_list .prdt_top th.pcolor, .prdt_list .prdt_table .pcolor{display: none;}
}

@media all and (max-width: 650px) {
	.prdt_list .prdt_top th.num{min-width: 60px;}
	.prdt_list .prdt_top th.pintro, .prdt_list .prdt_table .pintro{display: none;}
	.prdt_list .prdt_top th.pname{width: 100%;}
	.prdt_list .prdt_table .pname{text-align: center;}
}

/* 애니메이션 */



/*  */
